name: Test and deploy
on:
  push:
    branches:
    - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    # AndroidTestReportAction parse test result for android test report

    - uses: actions/checkout@v2
    - name: Unit tests

      run: ./gradlew test # use can use another command to run juni test like: ./gradlew testDebugUnitTest
      continue-on-error: true # IMPORTANT: allow pipeline to continue to Android Test Report step

    - name: Make Unit test report
      uses: doanpt/AndroidTestReportAction@v1.0
      if: ${{ always() }} # IMPORTANT: run Android Test Report regardless
  draft-release:
    name: Draft Github release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
    - name: Draft release with release notes
      id: create_release
      uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5
      with:
        tag_name: v.0.1
        draft: true
        prerelease: false
        generate_release_notes: true


  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Make Gradle executable
      run: chmod +x ./gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Build Debug APK
      run: ./gradlew assembleDebug
    - name: Releasing using Hub
      uses: ShaunLWM/action-release-debugapk@v0.0.7
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
        APP_FOLDER: build/outputs/apk
        RELEASE_TITLE: New Build
